* {
    box-sizing: border-box;

}

body {    
    display: inline-block; 
    width: 100%; 
    margin: 0;
}

aside {    
    
    background-color: pink; 
    width: 200px; 
    padding: 20px;
    float: left; 
    height: 500px;
    border: 10px solid red;
}

main, div { 
    background-color: aquamarine;   
    
    width: calc((100% - 200px) / 2); 
    float: left; 
    height: 500px;
}

div {
    background-color: bisque;
}



